.playfield {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  max-width: max-content;
  border-top: 3px solid black;
  border-left: 3px solid black;
  margin: 0 auto;

  &__cell {
    display: inline;
    width: 30px;
    height: 30px;
  }
}

.playfield.medium-level {
    grid-template-columns: repeat(10, 1fr);
}

.playfield.hard-level {
    grid-template-columns: repeat(15, 1fr);
}

button {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.clue-target {
  position: relative;

  & > * {
    pointer-events: none;
  }
}

.clue__value {
  display: block;
}

.clue__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: aqua;
  padding: 10px;
}

.clue_top {
  left: 0;
  right: 0;
  flex-direction: column;
  bottom: 120%;
  height: max-content;
}

.clue_side {
  right: 120%;
  top: 0;
  bottom: 0;
  width: max-content;
}

.right-cell {
    background-color: blue;
}