.playfield {
  display: grid;
  grid-auto-rows: auto;
  max-width: max-content;
  border-top: 3px solid black;
  border-left: 3px solid black;
  margin: 0 auto;
}

.playfield.easy-level {
  grid-template-columns: repeat(5, 1fr);
}

.playfield.medium-level {
  grid-template-columns: repeat(10, 1fr);
}

.playfield.hard-level {
  grid-template-columns: repeat(15, 1fr);
}

.playfield.disable {
  pointer-events: none;
}

button {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.clue-target {
  position: relative;
}

.clue__value {
  display: block;
}

.clue__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: aqua;
  padding: 10px;
  pointer-events: none;
}

.clue_top {
  left: 0;
  right: 0;
  flex-direction: column;
  bottom: 120%;
  height: max-content;
}

.clue_side {
  right: 120%;
  top: 0;
  bottom: 0;
  width: max-content;
}

.cell {
  display: inline;
  width: 30px;
  height: 30px;
}

.cell.selected {
  background-color: blue;
}

.cell.right-cell {
  background-color: red;
}

.cell.wrong-cell {
  background-color: transparent;
}

.divider-rows {
  border-right: 2px solid rgb(233, 25, 129);
}
.divider-cols {
  border-bottom: 2px solid rgb(233, 25, 129);
}